<section class="resume portfolio-section zoom-gallery filter-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="title title2">
          <h6 class="font-primary borders main-text text-uppercase">
            <span>Login</span>
          </h6>
          <div class="sub-title">
            <div class="">
              <h2 class="title-text">User and Admin Login .....</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
