<!--accordion1 section start-->

<section class="saas1 faq testimonial-bg">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title title2 title-inner">
          <div class="main-title">
            <h2 class="font-primary borders text-center main-text m-b-0">
              <span class="text-uppercase">FAQ</span>
            </h2>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="faq-block">
          <div class="w-100">
            <ngb-accordion
              [closeOthers]="true"
              class="accordion faq"
              activeIds="static-1"
            >
              <ngb-panel id="static-1" class="card">
                <ng-template ngbPanelTitle class="card-header">
                  <div
                    class="collapsed"
                    data-toggle="collapse"
                    data-target="#collapse1"
                    aria-expanded="false"
                  >
                    <a>
                      <div class="fa fa-angle-right rotate"></div>
                    </a>
                    Where should I stay? Can you recommend any hotels?
                  </div>
                </ng-template>
                <ng-template ngbPanelContent class="card-body">
                  Exhibitions is working with HotelMap to help you arrange a
                  perfect hotel in Cork during your visit to the
                  <span> Cork Book Fair.</span>
                  <P
                    >The HotelMap Concierge can help you book your room For more
                    information, contact:</P
                  ><P>Organiser Tel: +353 123456</P>
                  <P>Email: organiser@HotelMap.com</P>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="static-2" class="card">
                <ng-template ngbPanelTitle class="card-header">
                  <div
                    class="collapsed"
                    data-toggle="collapse"
                    data-target="#collapse1"
                    aria-expanded="false"
                  >
                    <a>
                      <div class="fa fa-angle-right rotate"></div>
                    </a>
                    What are the show dates?
                  </div>
                </ng-template>

                <ng-template ngbPanelContent class="card-body">
                  Monday 02nd - Friday 05th March 2020 .
                </ng-template>
              </ngb-panel>
              <ngb-panel id="static-3" class="card">
                <ng-template ngbPanelTitle class="card-header">
                  <div
                    class="collapsed"
                    data-toggle="collapse"
                    data-target="#collapse1"
                    aria-expanded="false"
                  >
                    <a>
                      <div class="fa fa-angle-right rotate"></div>
                    </a>
                    What companies are located either side of our stand?
                  </div>
                </ng-template>

                <ng-template ngbPanelContent class="card-body">
                  If you would like to see which companies are located either
                  side of you, view the <a href=""> floorplan.</a>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="static-4" class="card">
                <ng-template ngbPanelTitle class="card-header">
                  <div
                    class="collapsed"
                    data-toggle="collapse"
                    data-target="#collapse1"
                    aria-expanded="false"
                  >
                    <a>
                      <div class="fa fa-angle-right rotate"></div>
                    </a>
                    How can I book a private room for a meeting at Cork Book
                    Fair?
                  </div>
                </ng-template>

                <ng-template ngbPanelContent class="card-body">
                  To book meeting rooms at CBF which can be booked by the hour,
                  please contact:
                  <p>ABC DEF</p>
                  <P>Tel: +353 (0)21 123 4567</P>
                  <P>Email: abc.defk@corkbookfair.ie</P>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="static-4" class="card">
                <ng-template ngbPanelTitle class="card-header">
                  <div
                    class="collapsed"
                    data-toggle="collapse"
                    data-target="#collapse1"
                    aria-expanded="false"
                  >
                    <a>
                      <div class="fa fa-angle-right rotate"></div>
                    </a>
                    Where will The Cork Book Fair 2020 take place?
                  </div>
                </ng-template>

                <ng-template ngbPanelContent class="card-body">
                  The Cork Book Fair 2020 will be held at City Hall Cork.

                  <p>Anglesea Street</p>
                  <P>City Hall</P>
                  <P>Cork</P>

                  <P>
                    Ireland
                  </P>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="faq-img-block">
          <img
            src="assets/images/saas1/faq-img.png"
            class="img-fluid"
            alt="faq-person"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<!--accordion1 section end-->
