<!-- counter section start -->
<section class="p-b-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title title2 title-inner">
          <div class="main-title">
            <h2 class="font-primary borders text-center main-text text-uppercase m-b-0">
              <span>About Last Exhibition</span>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="event counter set-relative bg bg-img3 bg-about">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-6 counter-container" *ngFor="let data of counter4">
        <div class="counters">
          <img [src]="data.img" alt="" class="img-fluid counter-img" />
          <div class="counter-text">
            <h2 class="count-number text-center text-white counts">
              <span class="counter" [CountTo]="data.count" [from]="0" [duration]="2"></span>
            </h2>
            <h6 class="count-desc text-center text-white">{{ data.type }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- counter-4 section end -->