<!-- about section Start-->
<section class="event about bg bg-img bg-about">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title title3">
                    <div class="main-title">
                        <h2 class=" text-white">About event</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 col-md-6">
                <div class="text-right">
                    <div class="announcer-img">
                        <img src="assets/images/event/1.jpg" alt="" class="img-fluid" />
                        <img src="assets/images/event/1.jpg" alt="" class="img-fluid" />
                        <img src="assets/images/event/l3.jpg" alt="" class="img-fluid" aTilt data-tilt data-tilt-max="3"
                            data-tilt-speed="400" data-tilt-perspective="500" />
                    </div>
                </div>
            </div>
            <div class="col-xl-5 offset-xl-1 col-lg-7 col-md-6">
                <div class="abouts center-text">
                    <div class="format">
                        <div class="format-small-text">
                            <h6 class="text-white borders-before text-uppercase">
                                <span>event progress</span>
                            </h6>
                        </div>
                        <div class="format-head-text">
                            <h3 class="about-font-header text-white">
                                Welcome To Cork International Book Exhibition
                            </h3>
                        </div>
                        <div class="format-sub-text">
                            <p class="about-para p-light">
                                The Cork international book fair organized by the Enterprise
                                Ireland and Higher Education Ireland, it is an annual event held
                                at the Pairc Ui Chaoimh and the Cork City Hall, selling and
                                exhibiting books, printed matter, stationary, printing, compact
                                discs and other multimedia publishing.
                            </p>
                            <p class="about-para p-light">
                                The Cork Book Fair is the global marketplace for rights
                                negotiation and the sale and distribution of content across
                                print, audio, TV, film and digital channels. In 2020 CBF will
                                celebrate its 15-year anniversary. Staged annually, CBF sees
                                more than 25,000 publishing professionals arrive in Cork,
                                Ireland for the week of the Fair to learn, network, and kick off
                                their year of business. The Cork Book Fair sits at the heart of
                                Cork Book & Screen Week, which will take place from the 2-5
                                March 2020
                            </p>
                        </div>
                        <a class="btn btn-default " href="javascript:void()">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about section end-->