<!-- booking Start-->
<section class="event booking set-relative" id="register">
  <div class="circle"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="title title3">
          <div class="main-title">
            <h2><span>Book</span> Your Ticket</h2>
          </div>
          <div class="sub-title">
            <P
              >The Cork Book Fair is the global marketplace for rights
              negotiation and the sale and distribution of content across print,
              audio, TV, film and digital channels and online marketing covering
              everything you need to know in order to promote your Book.<span>
                Don’t miss out, Register now
              </span>
              reserve your stall for this year's cork book exhibition to attend
              now!</P
            >
          </div>
        </div>
      </div>
      <div class="col-12">
        <form class="form-inline m-b-50">
          <div class="col">
            <div class="form-group">
              <input type="text" placeholder="first name" />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <input type="text" placeholder="last name" />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <input type="text" placeholder="email" />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <input type="text" placeholder="mobile" />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <input type="text" placeholder="company name" />
            </div>
          </div>
        </form>

        <div class="text-center">
          <a
            class="btn btn-default primary-btn m-0-auto"
            href="javascript:void()"
            >register</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- booking end-->
