<!--subscribe section start-->
<section class="event subscribe subscribe-3 set-relative">
    <div class="circle"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title title3">
                    <div class="main-title">
                        <h2><span>subs</span>cribe</h2>
                    </div>
                    <div class="sub-title">
                        <P>A truly <span>international event</span> A truly , CBF brings
                            together publishing professionals from
                            <span>over 60 countries and regions</span> to gather in London for
                            three days of face-to-face business., CBF brings together
                            publishing professionals from over 60 countries and regions to
                            gather in Cork for Four days of face-to-face business.</P>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                <div class="subscribe">
                    <div class="center-content">
                        <div class="form-group">
                            <div class="flex">
                                <input type="email" class="form-control text-capitalize"
                                    placeholder="Please Enter Your Email Address" name="email" />
                                <div class="button-primary">
                                    <button type="submit"
                                        class=" btn btn-default primary-btn text-white text-capitalize">
                                        contact me
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--subscribe section end-->